h3#info
	a(href='#information', title='Info')
		span.icon.headerSpan.informationIcon Information
#tripplanner.acc_container.info
	h3.spacer Transport Links
	#travellinks
		ul
			li 
				a(target="_blank" , href="http://www.busonair.eu") BusOnAir
		
	h3.spacer About Us	
	#about
		p 	Let us know if you have any feedback.
		p	All our directions are best estimates.
		p   We are currently in beta with AQ Bus routes.
